<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Mail_compose :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
<link th:href="@{css/style-responsive.css}" rel="stylesheet"/>
<!-- font CSS -->
<link href='@{//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic}' rel='stylesheet' type='text/css'/>
<!-- font-awesome icons -->
<link rel="stylesheet" th:href="@{css/font.css}" type="text/css"/>
<link th:href="@{css/font-awesome.css}" rel="stylesheet"/> 
<!-- //font-awesome icons -->
<script th:src="@{js/jquery2.0.3.min.js}"></script>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a th:href="@{index.html}" class="logo">
        VISITORS
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->

<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- settings start -->
     
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-important">1</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <li>
                    <p class="red">You have 1 Mail</p>
                </li>
                <li>
                    <a th:href="@{#}">
                        <span class="photo"><img alt="avatar" th:src="@{images/3.png}"/></span>
                                <span class="subject">
                                <span class="from">Jonathan Smith</span>
                                <span class="time">Just now</span>
                                </span>
                                <span class="message">
                                    Hello, this is an example msg.
                                </span>
                    </a>
                </li>

                <li>
                    <a th:href="@{#}">See all messages</a>
                </li>
            </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
       
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
</div>
<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search"/>
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" th:src="@{images/2.png}"/>
                <span class="username" th:text="${name}"></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
               
                <li><a   th:href="@{/logout}"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
              
                <li class="sub-menu">
                    <a class="active" href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Mail </span>
                    </a>
                    <ul class="sub">
                      
                        <li><a class="active" th:href="@{/mail}">Compose Mail</a></li>
                    </ul>
                </li>
               
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="mail-w3agile">
        <div class="row">
            <div class="col-sm-3 com-w3ls">
            

               
            </div>
            <div class="col-sm-9 mail-w3agile">
                <section class="panel">
               
                    <div class="panel-body">
                        <div class="compose-btn pull-right">
                            <button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> replay</button>
                           
                        </div>
                        <div class="compose-mail" th:each="users :${messages}">
                            <form role="form-horizontal" method="get" action="/Coursera_app/mail">
                                <div class="form-group">
                                    <label for="to" class="">FROM:</label>
                                    <input readonly="readonly"  th:value="${users.sender}" />
                               </div>
                                
                                  <div class="form-group">
                                    <label for="subject" class="">subject:</label>
                                    <input readonly="readonly"  th:value="${users.messageSubject}" />
                                   
                               
                               
                                </div>
                                
                                  <div class="form-group">
                                    
                                    <label for="message" class=""   >Message:</label>
                                    <input readonly="readonly"  th:value="${users.messageContent}" />
                                   
                               </div>

                                
                                
                                
                                <div class="compose-btn">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-check"></i> replay</button>
                                  
                                </div>

                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- page end-->
		 </div>
</section>
 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  
			</div>
		  </div>
  <!-- / footer -->
</section>

<!--main content end-->
</section>
<script th:src="@{js/bootstrap.js}"></script>
<script th:src="@{js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.slimscroll.js}"></script>
<script th:src="@{js/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script th:src="@{js/jquery.scrollTo.js}"></script>
</body>
</html>